@layer sds.components {
  :where(.sds-datapoint) {
    display: grid;
    color: var(--sds-color-text-default);
    font-size: 1rem;
  }

  :where(.sds-datapoint > div) {
    display: flex;
    gap: var(--sds-space-sm);
    align-items: flex-end;
  }

  :where(.sds-datapoint strong) {
    color: var(
      --sds-datapoint-color,
      light-dark(var(--sds-black), var(--sds-white))
    );
    font-size: 1.875rem;
    font-weight: 700;
    line-height: 1.2;
  }

  :where(.sds-datapoint[data-size="sm"] strong) {
    font-size: 1.125rem;
    line-height: 1.75rem;
  }

  :where(.sds-datapoint[data-size="lg"] strong) {
    font-size: 3rem;
    line-height: 1;
  }

  :where(.sds-datapoint[data-tone="neutral"]) {
    --sds-datapoint-color: light-dark(
      var(--sds-gray-600),
      var(--sds-gray-300)
    );
  }

  :where(.sds-datapoint:is([data-tone="brand"], [data-tone="danger"])) {
    --sds-datapoint-color: light-dark(
      var(--sds-red-600),
      var(--sds-red-400)
    );
  }

  :where(.sds-datapoint[data-tone="info"]) {
    --sds-datapoint-color: light-dark(
      var(--sds-blue-600),
      var(--sds-blue-400)
    );
  }

  :where(.sds-datapoint[data-tone="success"]) {
    --sds-datapoint-color: light-dark(
      var(--sds-green-600),
      var(--sds-green-400)
    );
  }

  :where(.sds-datapoint[data-tone="warning"]) {
    --sds-datapoint-color: light-dark(
      var(--sds-orange-500),
      var(--sds-orange-300)
    );
  }

  :where(.sds-datapoint[data-tone="warning"][data-size="sm"]) {
    --sds-datapoint-color: light-dark(
      var(--sds-orange-600),
      var(--sds-orange-300)
    );
  }

  :where(.sds-datapoint[data-tone="warning"][data-size="lg"]) {
    --sds-datapoint-color: light-dark(
      var(--sds-orange-400),
      var(--sds-orange-300)
    );
  }
}
