@layer sds.utilities {
  :where(.sds-flex) {
    display: flex;
    min-inline-size: 0;
    gap: var(--sds-space-lg);
  }

  :where(.sds-flex[data-sds-orientation="vertical"]) {
    flex-direction: column;
  }

  :where(.sds-flex[data-sds-wrap]) {
    flex-wrap: wrap;
  }

  :where(
    .sds-flex:not([data-sds-orientation="vertical"]):is(
        [data-sds-stack-at="sm"],
        [data-sds-stack-at="md"],
        [data-sds-stack-at="lg"],
        [data-sds-stack-at="xl"]
      )
  ) {
    container-name: sds-flex;
    container-type: inline-size;
    flex-wrap: wrap;
  }

  :where(.sds-flex[data-sds-align="start"]) {
    align-items: flex-start;
  }

  :where(.sds-flex[data-sds-align="center"]) {
    align-items: center;
  }

  :where(.sds-flex[data-sds-align="end"]) {
    align-items: flex-end;
  }

  :where(.sds-flex[data-sds-align="stretch"]) {
    align-items: stretch;
  }

  :where(.sds-flex[data-sds-justify="start"]) {
    justify-content: flex-start;
  }

  :where(.sds-flex[data-sds-justify="center"]) {
    justify-content: center;
  }

  :where(.sds-flex[data-sds-justify="end"]) {
    justify-content: flex-end;
  }

  :where(.sds-flex[data-sds-justify="between"]) {
    justify-content: space-between;
  }

  :where(.sds-flex[data-sds-gap="none"]) {
    gap: 0;
  }

  :where(.sds-flex[data-sds-gap="xs"]) {
    gap: var(--sds-space-xs);
  }

  :where(.sds-flex[data-sds-gap="sm"]) {
    gap: var(--sds-space-sm);
  }

  :where(.sds-flex[data-sds-gap="md"]) {
    gap: var(--sds-space-md);
  }

  :where(.sds-flex[data-sds-gap="xl"]) {
    gap: var(--sds-space-xl);
  }

  :where(.sds-flex[data-sds-gap="2xl"]) {
    gap: var(--sds-space-2xl);
  }

  :where(.sds-flex[data-sds-gap="3xl"]) {
    gap: var(--sds-space-3xl);
  }

  :where(.sds-flex[data-sds-gap="4xl"]) {
    gap: var(--sds-space-4xl);
  }

  :where(.sds-flex > [data-sds-grow]) {
    min-inline-size: 0;
    flex: 1 1 0;
  }

  :where(.sds-flex > [data-sds-no-shrink]) {
    flex-shrink: 0;
  }

  @container sds-flex (max-width: 30rem) {
    :where(
      .sds-flex[data-sds-stack-at="sm"]:not(
          [data-sds-orientation="vertical"]
        )
        > *
    ) {
      flex-basis: 100%;
    }
  }

  @container sds-flex (max-width: 40rem) {
    :where(
      .sds-flex[data-sds-stack-at="md"]:not(
          [data-sds-orientation="vertical"]
        )
        > *
    ) {
      flex-basis: 100%;
    }
  }

  @container sds-flex (max-width: 48rem) {
    :where(
      .sds-flex[data-sds-stack-at="lg"]:not(
          [data-sds-orientation="vertical"]
        )
        > *
    ) {
      flex-basis: 100%;
    }
  }

  @container sds-flex (max-width: 64rem) {
    :where(
      .sds-flex[data-sds-stack-at="xl"]:not(
          [data-sds-orientation="vertical"]
        )
        > *
    ) {
      flex-basis: 100%;
    }
  }
}
