@layer sds.utilities {
  :where(.sds-grid) {
    --sds-grid-gap: var(--sds-space-lg);
    --sds-grid-min-column-width: 14rem;

    display: grid;
    min-inline-size: 0;
    grid-template-columns: repeat(
      auto-fit,
      minmax(min(100%, var(--sds-grid-min-column-width)), 1fr)
    );
    gap: var(--sds-grid-gap);
  }

  :where(.sds-grid > [data-sds-column-span="full"]) {
    grid-column: 1 / -1;
  }

  :where(.sds-grid[data-sds-min-column-width="sm"]) {
    --sds-grid-min-column-width: 10rem;
  }

  :where(.sds-grid[data-sds-min-column-width="md"]) {
    --sds-grid-min-column-width: 14rem;
  }

  :where(.sds-grid[data-sds-min-column-width="lg"]) {
    --sds-grid-min-column-width: 18rem;
  }

  :where(.sds-grid[data-sds-min-column-width="xl"]) {
    --sds-grid-min-column-width: 24rem;
  }

  :where(.sds-grid[data-sds-min-column-width="2xl"]) {
    --sds-grid-min-column-width: 32rem;
  }

  :where(.sds-grid[data-sds-columns="1"]) {
    --sds-grid-column-share: 100%;

    grid-template-columns: minmax(0, 1fr);
  }

  :where(.sds-grid[data-sds-columns="2"]) {
    --sds-grid-column-share: 50%;

    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  :where(.sds-grid[data-sds-columns="3"]) {
    --sds-grid-column-share: 33.333333%;

    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  :where(.sds-grid[data-sds-columns="4"]) {
    --sds-grid-column-share: 25%;

    grid-template-columns: repeat(4, minmax(0, 1fr));
  }

  :where(.sds-grid[data-sds-columns="5"]) {
    --sds-grid-column-share: 20%;

    grid-template-columns: repeat(5, minmax(0, 1fr));
  }

  :where(.sds-grid[data-sds-columns="6"]) {
    --sds-grid-column-share: 16.666667%;

    grid-template-columns: repeat(6, minmax(0, 1fr));
  }

  :where(
    .sds-grid[data-sds-columns]:is(
        [data-sds-min-column-width="sm"],
        [data-sds-min-column-width="md"],
        [data-sds-min-column-width="lg"],
        [data-sds-min-column-width="xl"],
        [data-sds-min-column-width="2xl"]
      )
  ) {
    grid-template-columns: repeat(
      auto-fit,
      minmax(
        min(
          100%,
          max(
            var(--sds-grid-min-column-width),
            calc(var(--sds-grid-column-share) - var(--sds-grid-gap))
          )
        ),
        1fr
      )
    );
  }

  :where(.sds-grid[data-sds-gap="none"]) {
    --sds-grid-gap: var(--sds-space-0);
  }

  :where(.sds-grid[data-sds-gap="xs"]) {
    --sds-grid-gap: var(--sds-space-xs);
  }

  :where(.sds-grid[data-sds-gap="sm"]) {
    --sds-grid-gap: var(--sds-space-sm);
  }

  :where(.sds-grid[data-sds-gap="md"]) {
    --sds-grid-gap: var(--sds-space-md);
  }

  :where(.sds-grid[data-sds-gap="xl"]) {
    --sds-grid-gap: var(--sds-space-xl);
  }

  :where(.sds-grid[data-sds-gap="2xl"]) {
    --sds-grid-gap: var(--sds-space-2xl);
  }

  :where(.sds-grid[data-sds-gap="3xl"]) {
    --sds-grid-gap: var(--sds-space-3xl);
  }

  :where(.sds-grid[data-sds-gap="4xl"]) {
    --sds-grid-gap: var(--sds-space-4xl);
  }
}
