@layer sds.utilities {
  :where(.sds-grid) {
    display: grid;
    grid-template-columns: repeat(
      auto-fit,
      minmax(min(100%, 14rem), 1fr)
    );
    gap: var(--sds-space-lg);
  }

  :where(.sds-grid[data-sds-columns="1"]) {
    grid-template-columns: minmax(0, 1fr);
  }

  :where(.sds-grid[data-sds-columns="2"]) {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  :where(.sds-grid[data-sds-columns="3"]) {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  :where(.sds-grid[data-sds-columns="4"]) {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }

  :where(.sds-grid[data-sds-columns="5"]) {
    grid-template-columns: repeat(5, minmax(0, 1fr));
  }

  :where(.sds-grid[data-sds-columns="6"]) {
    grid-template-columns: repeat(6, minmax(0, 1fr));
  }

  :where(.sds-grid[data-sds-orientation="vertical"]) {
    grid-template-columns: minmax(0, 1fr);
  }

  :where(.sds-grid[data-sds-gap="none"]) {
    gap: 0;
  }

  :where(.sds-grid[data-sds-gap="xs"]) {
    gap: var(--sds-space-xs);
  }

  :where(.sds-grid[data-sds-gap="sm"]) {
    gap: var(--sds-space-sm);
  }

  :where(.sds-grid[data-sds-gap="md"]) {
    gap: var(--sds-space-md);
  }

  :where(.sds-grid[data-sds-gap="xl"]) {
    gap: var(--sds-space-xl);
  }

  :where(.sds-grid[data-sds-gap="2xl"]) {
    gap: var(--sds-space-2xl);
  }
}
