@layer sds.components {
  :where(.sds-dialog, .sds-panel)::backdrop {
    background: rgb(0 0 0 / 50%);
    opacity: 0;
    transition:
      opacity var(--sds-duration-fast) var(--sds-easing-standard),
      display var(--sds-duration-fast) allow-discrete,
      overlay var(--sds-duration-fast) allow-discrete;
  }

  :where(.sds-dialog[open], .sds-panel[open])::backdrop {
    opacity: 1;
  }

  @starting-style {
    :where(.sds-dialog[open], .sds-panel[open])::backdrop {
      opacity: 0;
    }
  }
}
