@layer sds.components {
  :where(.sds-toaster, sds-toaster) {
    position: fixed;
    z-index: 100;
    inset: 0;
    display: grid;
    gap: var(--sds-space-lg);
    align-content: start;
    justify-items: end;
    padding: clamp(
      var(--sds-space-lg),
      calc(0.75rem + 1vw),
      var(--sds-space-xl)
    );
    pointer-events: none;
  }
}
